

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.877);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content form { 
  position: relative;
  width: 320px;
  height: 360px;
  padding: 25px;
  padding-bottom: 50px;
  /* background: transparent; */
  border: 2px solid rgba(255,255,255,1.8);
  background: linear-gradient(178.6deg, rgb(7, 11, 15) 11.8%, rgb(44, 44, 44) 293.8%);
  border-radius: 50px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(243, 235, 121, 0.5);

}

.popup-content form input[type="email"],
.popup-content form input[type="password"] {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 30px;
  width: 90%;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.popup-content form label {
  display: flex;
  margin-bottom: 10px;
  font-size: 15px;
  color: #fff;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.popup-content form .popup-button1 {
   width: 100%;
   height: 50px;
   background-color: rgba(3, 3, 3, 0.6);
   border: none;
   outline: none;
   font-size: 30px;
   border-radius: 50px;
   color: #fff;
   cursor: pointer;
   border: 1px solid #c7d1cd;
    font-weight: 500;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .popup-content form h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
  }

  .popup-content form .popup-button1:hover {
    background-color: #d4af37;
    box-shadow: 0px 15px 20px #d4af37b7;
    color: #fff;
    transform: translateY(-7px);
    border: 0.5px solid #000000;
  }
 
  .icon-close {
    position: absolute;
    top: 25px;
    right: 17px;
    cursor: pointer;
    font-size: 24px; 
    color: #ffffff;
   font-size: 30px; 
   color:rgb(151, 0, 0);
  }



.reset-password a{
    color: rgb(255, 217, 0);
    cursor: pointer;
    text-decoration: underline;
   
    text-decoration: none;
}
  
.reset-password {
  color: aqua;
  cursor: pointer;
  text-decoration: underline;
  padding-top: 10px;
  text-decoration: none;
}