
/* .dashuser {
    background-image: linear-gradient(90deg, #000000,#2C272E);
 height: 100vh;
 width: 100vw;
 display: flex;
 justify-content: center;
 align-items: center;
}
<<<<<<< HEAD
 */
=======
>>>>>>> 76007ba71582ffb2881601d3b498d16ec21a042f

