
.header{
    width: 100vw;
    background: radial-gradient(circle at 10% 20%, rgb(22, 22, 22) 0%, rgb(64, 64, 64) 90.2%);/* Change to your preferred color */
    color: rgb(0, 0, 0);
    padding: 10px 20px; /* Add some padding */
    position: fixed; /* Keeps the header fixed at the top */
    top: 0; /* Aligns it to the top */
    left: 160px; /* Aligns it to the left */
    z-index: 2;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 200px);
    box-shadow: 7px 7px 30px rgba(76, 117, 85, 0.301);
}
button{
    background: transparent;    
    border: none;
    border-radius: 50px;
}


input{
    width: 200px;
    height: 15px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    font-size: 16px;
    outline: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

input:focus{
    border: 2px solid black;
}

input:active{
    border: 2px solid black;

}

input:hover{
    border: 2px solid black;
}


.user{
    background-image: url("https://cdn-icons-png.flaticon.com/512/149/149071.png");
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-size: 100% 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: none;
}

.profile{
    border-radius: 50px;
}

span{
    margin-left: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.logout-button {
    background-color: #36b8f4; /* Blue background for logout button */
    color: white; /* Text color */
    border: none;
    padding: 10px 15px;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #1eff00; /* Red background on hover */
    color: #fff;
    transform: translateY(-1px);
    border: 0.5px solid #000000;
}